<!DOCTYPE html>
<html>
	<head>
		<title></title>

		<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="js/toastr/toastr.min.css">

		<script src="./js/jquery.min.js"></script>
		<script src="./js/lodash.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<script src="/socket.io/socket.io.js"></script>

        <script src="./js/fb/JSXTransformer.js"></script>
        <script src="./js/fb/react-with-addons.js"></script>
        <script src="./js/toastr/toastr.min.js"/>

	    <script type="text/javascript">

	    </script>

	</head>
	<body>
		{{{body}}}
	</body>

	<script src="./app.react.js" type="text/jsx"></script>

</html>
