
<script id="coderList" type="application/json">{{{coders}}}</script>
<script id="commitsPerWeek" type="application/json">{{{commitsPerWeek}}}</script>

<div class="container" id="coders">

</div>

<script type="text/javascript">
    window.onhashchange = function(){
        switch(location.hash){
            case '' :
            case '#activity' :
                showActivity();
                break;
            case '#repositories' :
                document.getElementById('coders').innerHTML = "";
                break;
            default:
                showActivity();
        }
    }

</script>
